<span *ngIf="!collection">No clients in database !</span>

<app-template-full-width [title]="title">
  <app-table-light [headers]="headers">
    <tr *ngFor="let data of collection">
      <td>
        <a routerLink="edit/{{ data.id }}">
          <app-icon-edit class="tr-edit btn"></app-icon-edit
        ></a>
        <a >
          <app-icon-delete (click)="delete(data.id)" class="tr-delete btn"></app-icon-delete>
        </a>
      </td>
      <td>{{ data.tva }}%</td>
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.totalCaHt | number }}</td>
      <td>{{ data.comment }}</td>

      <td appState [state]="data.state">
        <select (change)="changeState(data, $event)">
          <option
            *ngFor="let state of states"
            [selected]="state === data.state"
            [value]="state"
          >
            {{ state }}
          </option>
        </select>
      </td>
    </tr>
  </app-table-light>
</app-template-full-width>
<app-btn
  [styleBtn]="'btn btn-primary ms-5 mt-5'"
  [routerLink]="'add'"
  label="Add"
>
</app-btn>
