<span *ngIf="!orderList">No orders in database !</span>

<app-template-full-width [title]="title">
  <app-table-light
    [tableData]="orderList"
    [headers]="headers"
  ></app-table-light>
</app-template-full-width>
<div class="container mt-3">
  <div class="row">
    <div class="app-color-primary col-2">ID</div>
    <div class="app-color-primary col-2">CLIENT</div>
    <div class="app-color-primary col-2">COMMENT</div>
    <div class="app-color-primary col-2">STATE</div>
  </div>
  <hr />
  <div *ngFor="let order of orderList">
    <div class="row">
      <div class="text-secondary col-2 mt-2">{{ order.id }}</div>
      <div class="text-secondary col-2 mt-2">{{ order.client }}</div>
      <div class="text-secondary col-2 mt-2">{{ order.comment }}</div>
      <div
        [ngClass]="{
          'state-success': order.state === 'CONFIRMED',
          'state-warning': order.state === 'OPTION',
          'state-danger': order.state === 'CANCELLED'
        }"
        class="col-2 mt-2"
      >
        {{ order.state }}
      </div>
    </div>
  </div>
</div>
