<app-template-full-width
  [title]="title"
  *ngIf="collection$ | async as collection"
>
  <app-table-light [headers]="headers">
    <tr *ngFor="let data of collection">
      <td>
        <a routerLink="edit/{{ data.id }}">
          <app-icon-edit class="tr-edit btn"></app-icon-edit
        ></a>
        <a routerLink="delete/{{ data.id }}">
          <app-icon-delete class="tr-delete btn"></app-icon-delete>
        </a>
      </td>
      <td>{{ data.typePresta }}</td>
      <td>{{ data.client }}</td>
      <td>{{ data.nbJours }}</td>
      <td>{{ data.tjmHt | number: "1.0-0" }}</td>
      <td>{{ data | total | number: "1.0-0" }}</td>
      <td>{{ data | total: true | number: "1.0-0" }}</td>

      <td
      appState [state]="data.state">
        <select (change)="changeState(data, $event)"
        >
          <option
            *ngFor="let state of states"
            [selected]="state === data.state"
            [value]="state"
          >
            {{ state }}
          </option>
        </select>
      </td>
    </tr>
  </app-table-light>
</app-template-full-width>
<app-btn [classList]="'btn btn-primary ms-5'" [routerLink]="'add'"></app-btn>
