<form class="m-5" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="typePresta">TVA</label>
    <input
      type="number"
      class="form-control"
      id="typePresta"
      formControlName="tva"
    />
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="client"
      formControlName="name"
    />
  </div>

  <div class="form-group">
    <label for="totalCaHt">Number of days</label>
    <input
      type="number"
      class="form-control"
      id="totalCaHt"
      formControlName="totalCaHt"
    />
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <input
      type="text"
      class="form-control"
      id="comment"
      formControlName="comment"
    />
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select formControlName="state" class="form-control" id="state">
      <option
        [selected]="state === client.state"
        *ngFor="let state of states"
        [value]="state"
      >
        {{ state }}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
